body {
  margin: 0; }

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 15px; }

.top {
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  height: 600px; }

.roof {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px; }

.roof-logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.roof-menu {
  width: 50%;
  text-align: center; }

.roof-list {
  display: flex;
  justify-content: space-between; }

.roof-list__item {
  list-style: none; }

.roof-list__link {
  text-decoration: none;
  font-family: Montserrat-Medium;
  font-size: 10px;
  color: black; }

.banner {
  display: flex;
  justify-content: flex-end; }

.banner-content {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  width: 50%;
  padding-top: 55px; }

.banner-content h1 {
  font-family: Montserrat-Medium;
  font-size: 25px;
  padding-bottom: 5px; }

.banner-content p {
  font-family: NunitoSans-Regular;
  font-size: 16px;
  padding-bottom: 30px; }

.button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 55px;
  text-decoration: none;
  background: #10c9c3;
  color: white;
  font-family: Montserrat-Medium;
  font-size: 10px; }
